*.pyc
*.pyo
*.pyd
*.pdb

# Ignore common build artifacts
build/
dist/
*.egg-info/

# Ignore environment files
.env
*.env

# Ignore logs
*.log

# Ignore selected folders
save/
manga_data/
manga_data_updated/
data1/
data2/
data3/

manga_log.txt
venv/